# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# mv, rm, cp
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

alias chmox='chmod -x'

alias cask='brew cask' # i <3 u cask

alias hosts='sudo $EDITOR /etc/hosts'   # yes I occasionally 127.0.0.1 twitter.com ;)

alias ag='ag -f --hidden'

###
# time to upgrade `ls`
alias ls="exa --reverse --sort=size --all --header --long"

## use coreutils `ls` if possible…
# hash gls >/dev/null 2>&1 || alias gls="ls"

## always use color, even when piping (to awk,grep,etc)
# if gls --color > /dev/null 2>&1; then colorflag="--color"; else colorflag="-G"; fi;
# export CLICOLOR_FORCE=1

## ls options: A = include hidden (but not . or ..), F = put `/` after folders, h = byte unit suffixes
# alias ls='gls -AFh ${colorflag} --group-directories-first'
# alias lsd='ls -l | grep "^d"' # only directories
#    `la` defined in .functions
###


# `cat` with beautiful colors. requires: sudo easy_install -U Pygments
alias catc='pygmentize -O style=monokai -f console256 -g'

###
# GIT STUFF

function clone() {
    git clone --depth=1 $1
    cd $(basename ${1%.*})
    yarn install
}
alias push="git push"

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# git root
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'
alias master="git checkout master"

alias gl='git pull --prune'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias gp='git push origin HEAD'
alias gpf='git push --force'
alias gd='git diff'
alias gc='git commit -Sam'
alias gco='git checkout'
alias gbc='git checkout -b'
alias grb='git branch -m'
alias gdb='git branch -D'
alias gcb='git copy-branch-name'
alias gb='git branch'
alias gs='git status -sb' # upgrade your git if -sb breaks for you. it's fun.
alias gac='git add -A && git commit -S -m'
alias grh='git reset --hard && git clean -f -d'
alias gcf='git diff --name-only --diff-filter=U'
alias gro= "grep -lr '<<<<<<<' . | xargs git checkout --ours"
alias grt= "grep -lr '<<<<<<<' . | xargs git checkout --theirs"
alias gmo= 'git merge -Xours'
alias gmt= 'git merge -Xtheirs'

# Networking. IP address, dig, DNS
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
# alias dig="dig +nocmd any +multiline +noall +answer"
# wget sucks with certificates. Let's keep it simple.
alias wget="curl -O"

# Recursively delete `.DS_Store` files
alias cleanup_dsstore="fd '^*.DS_Store$' --hidden --no-ignore -x rm"

alias diskspace_report="df -P -kHl"

# Shortcuts
alias g="git"
alias ungz="gunzip -k"

# File size
alias fs="stat -f \"%z bytes\""

alias du="ncdu --color dark -rr -x --exclude .git --exclude node_modules"

alias ping='prettyping --nolegend'

# backup
alias backup="rsync -avP --exclude '_build/*' --exclude '.elixir_ls/' --exclude 'deps/*' --exclude 'node_modules/*' --exclude 'target/*' --exclude -r"
 