[submodule ".janus/oceanic-next"]
	path = .janus/oceanic-next
	url = https://github.com/mhartington/oceanic-next.git
[submodule ".janus/base16"]
	path = .janus/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".janus/alchemist.vim"]
	path = .janus/alchemist.vim
	url = https://github.com/slashmili/alchemist.vim.git
[submodule ".janus/vim-elixir"]
	path = .janus/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule ".janus/vim-mix-format"]
	path = .janus/vim-mix-format
	url = https://github.com/mhinz/vim-mix-format.git
