nodejs 13.8.0
elixir 1.10.2-otp-22
erlang 22.3
rust 1.42.0
yarn 1.22.4
# install with
# env POSTGRES_EXTRA_CONFIGURE_OPTIONS=--with-uuid=e2fs asdf install
# run with
# /Users/raphael/.asdf/installs/postgres/12.1/bin/pg_ctl -D /Users/raphael/.asdf/installs/postgres/12.1/data -l logfile start
# create user with
# createuser postgres -ds
postgres 12.2
k9s v0.13.6

# not used
rebar 3.11.1
python 3.6.4
ruby 2.7.0
