erlang 23.0.3
elixir 1.10.4-otp-23
nodejs 14.5.0
rust 1.45.0
yarn 1.22.4
# install with
# env POSTGRES_EXTRA_CONFIGURE_OPTIONS=--with-uuid=e2fs asdf install
# run with
# /Users/raphael/.asdf/installs/postgres/12.1/bin/pg_ctl -D /Users/raphael/.asdf/installs/postgres/12.1/data -l logfile start
# create user with
# createuser postgres -ds
postgres 12.2
k9s v0.13.6

# not used
rebar 3.11.1
python 3.6.4
ruby 2.7.0
